workflows/alert-to-ticket.json
{
  "name": "Alert to Ticket",
  "description": "Receives monitoring alerts, classifies severity, creates Jira tickets, sends Slack notification, and logs to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "path": "/webhook/alert",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Monitoring Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equals",
              "value2": "critical"
            }
          ]
        }
      },
      "name": "Is P1 Severity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "project": "OPS",
        "summary": "[{{ $json.severity | uppercase }}] {{ $json.alert_name }}",
        "description": "{{ $json.description }}\n\nService: {{ $json.service }}\nTimestamp: {{ $json.timestamp }}",
        "issuetype": "Bug",
        "priority": "Highest"
      },
      "name": "Create Jira Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#incidents",
        "messageType": "json",
        "jsonValues": "{\n  \"text\": \"🚨 P1 Incident\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Alert:* {{ $json.alert_name }}\\n*Service:* {{ $json.service }}\\n*Jira:* <{{ $json.jira_url }}>\"\n      }\n    }\n  ]\n}"
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "mode": "append",
        "range": "Alerts!A1",
        "values": "{{ $json.timestamp }}, {{ $json.alert_name }}, {{ $json.service }}, {{ $json.severity }}, {{ now() }}"
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Monitoring Alert": {
      "main": [
        [
          {
            "node": "Is P1 Severity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is P1 Severity?": {
      "main": [
        [
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Ticket": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "devops",
    "alerting",
    "incident-management"
  ]
}
