workflows/daily-report-digest.json
{
  "name": "Daily Report Digest",
  "description": "Scheduled trigger (daily 9am) pulls data from multiple sources, generates summary, sends via email and Slack",
  "nodes": [
    {
      "parameters": {
        "triggerTz": "America/New_York",
        "triggerAtHour": 9,
        "triggerAtMinute": 0
      },
      "name": "Daily Scheduler",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "{{ $env.DATA_SOURCE_API_URL }}/sales-metrics",
        "authentication": "apiKey",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.DATA_API_KEY }}"
            }
          ]
        }
      },
      "name": "Fetch Sales Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 250]
    },
    {
      "parameters": {
        "url": "{{ $env.DATA_SOURCE_API_URL }}/customer-metrics",
        "authentication": "apiKey",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.DATA_API_KEY }}"
            }
          ]
        }
      },
      "name": "Fetch Customer Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 350]
    },
    {
      "parameters": {
        "mode": "merge",
        "mergeByFields": []
      },
      "name": "Combine Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "Create a professional daily business report summary from this data. Include key metrics, highlights, and insights:\\n\\n{{ JSON.stringify($json) }}"
      },
      "name": "Generate Summary",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "to": "{{ $env.REPORT_EMAIL }}",
        "subject": "Daily Business Report - {{ now().format('YYYY-MM-DD') }}",
        "emailType": "html",
        "htmlBody": "<h2>Daily Report - {{ now().format('YYYY-MM-DD') }}</h2>\n{{ $json.choices[0].message.content }}"
      },
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#reports",
        "messageType": "json",
        "jsonValues": "{\n  \"text\": \"📊 Daily Report Generated\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.choices[0].message.content }}\"\n      }\n    }\n  ]\n}"
      },
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1050, 350]
    }
  ],
  "connections": {
    "Daily Scheduler": {
      "main": [
        [
          {
            "node": "Fetch Sales Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sales Data": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customer Data": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "reporting",
    "scheduled",
    "analytics"
  ]
}
