workflows/email-to-task.json
{
  "name": "Email to Task",
  "description": "Gmail trigger reads emails with specific label, extracts action items using OpenAI, creates tasks in Notion",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "triggerOn": "newEmail",
        "label": "Action Items"
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "Extract all action items from this email and format as JSON array with 'task', 'owner', 'due_date' fields:\\n\\n{{ $json.body }}"
      },
      "name": "Extract Action Items",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "jsonParse",
        "json": "{{ $json.choices[0].message.content }}"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.jsonParse",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "title": "={{ $item(0).task }}",
        "databaseId": "={{ $env.NOTION_DATABASE_ID }}",
        "properties": {
          "property": [
            {
              "name": "Owner",
              "value": "={{ $item(0).owner }}"
            },
            {
              "name": "Due Date",
              "value": "={{ $item(0).due_date }}"
            },
            {
              "name": "Source Email",
              "value": "={{ $json.from }}"
            }
          ]
        }
      },
      "name": "Create Notion Task",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Action Items": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Create Notion Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "productivity",
    "email",
    "task-management",
    "ai"
  ]
}
